html {
    @apply bg-black text-gray-200 font-spectral antialiased font-normal leading-tight
}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
section {
    @apply px-4 sm:px-8 min-h-screen
}
.bg-pattern {
    background: repeating-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1) 1px, rgba(0,0,0,0.4) 1px, rgba(0,0,0,0.4) 2px);
}