.nav-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    span {
        display: inline-block;
        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    }    
    &:after {
        content: attr(data-char);
        position: absolute;
        width: 100%;
        left: 0;
        height: 100%;
        top: 0;
        transform-origin: 100% 50%;
        transform: translate3d(0, 100%, 0);
        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    &:hover:after {
        transform: translate3d(0, 0, 0);
    }
    &:hover span {
        transform: translate3d(0, -100%, 0);
    }
}